.DiscoverMain{
    
    margin: auto;
    padding: 2rem;
    margin-top: 1rem;
    display: flex;
    width: 80vw;
    max-width: 90rem;
    height: 35rem;
    max-height: 40rem;
    flex-direction: row;
    align-self: center;
    justify-self: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    transition: ease-in-out 0.4s;
}
.DiscoverimgBox {
    
    width: 50rem;
    max-width: 70rem;
    height: 100%;
    margin: 0.5rem;
    margin-left: 0;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
.topRowDiscover {
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65%;
    gap: 0.5rem;
    transition: 0.5s ease;
    padding : 0;
    margin: 0;
}
.BottomHolderDiscover {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height: 25%;
    width: 100%;
    border-radius: 10px;
    transition: 0.5s ease;
    padding : 1rem;
    margin: 0;
}
.ShortTagBoxDiscover {
  
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 0.5s ease;
    padding : 0;
    margin: 0;
}
/* TODO doesnt seem like this is being used */
.ShortTagBoxDiscover p {
    font-size: 1rem;
    font-weight: 500;
    width: 95%;
    color: #000;
    text-align: center;
    margin: 0;
}
.DiscoverImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.5s ease;
}
.TagBoxDiscover {

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    height: 50%;
   

}
.TagDiscover {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ShortDescDiscover {
    display: flex;
    flex-direction: column;
    height:auto;
    margin: 0;
    transition: 0.5s ease;
    padding : 0;
    margin-top: 0.5rem;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
   
}
.ShortDecDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.ProjectLinksDiscover {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: var(--red);
    transform-origin: 0%;
  }
  .DiscoverHolder {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-self: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding: 0;
    transition: 0.5s ease;  
  }
  .DHolder {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-self: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding: 0;
    transition: 0.5s ease;  
  }

  .CommentSection {
    align-self: center;
    justify-self: center;
    margin: auto;
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 20px;
    width: 77vw;
    max-width: 88.2rem;
    transition: ease-in-out 0.4s;
  }

  .CommentSection h2 {
    margin-top: 0;
  }

  .Comments {
    margin-top: 20px;
  }

  .Comment {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .CommentHeader {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
.CreateComment {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
}
  .Avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 10%;
    margin-right: 10px;
  }

  .Username {
    margin: 0;
  }

  .CommentBody {
    margin: 0;
    margin-left: 1rem;
    font-size: large;

  
  }
.DateTime {
    color: #999;
    margin: 0;
    margin-left: 1rem;
}
  .CommentForm {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    
  }

  .CommentTextarea {
    height: 100px;
    resize: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
  }

  .CommentButton {
    background-color: #008080;
    color: #fff;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }

  .CommentButton:hover {
    background-color: #006666;
  }
  .ProjectOverview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0;
    transition: 0.5s ease;
  }