.InboxMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.InboxConversationHolder {
    display: flex;
    flex-direction: row;
    background-color: rgb(233, 233, 233);
    width: 70vw;
    max-width: 70rem;
    height: 70vh;
    max-height: 60rem;
    margin: 0;
    margin-top: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.InboxMessages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 30%;
    background-color: rgb(221, 221, 221);
    height: 100%;
    overflow-x: hidden;
}
.InboxConversation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 100%;
    margin: 0;
    background-color: #ebeaee;
}
.InboxMessageHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 9%;
    background-color: rgb(151, 139, 161);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.InboxMessages ul {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 0;
    margin: 0;
    margin-top: .2rem;
    margin-bottom: .2rem;
    align-items: stretch;
    list-style: none;
    display: flex;
    overflow-x: hidden;
    width: 100%;
 
}
.InboxMessages li {
    width: 100%;
    height: 4rem;
    background-color: #c1c0c4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.InboxUserImage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    margin: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}

.InboxConversationHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 9%;
    background-color: rgb(87, 89, 109);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
/* rgb(242, 229, 253) */
.InboxConversationBody {
    padding-top: .5rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 85%;
    overflow-y: auto;
    
}

.InboxMessageField {
    width: 100%;
    
    height: 4%;
    min-height: 3rem;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 1rem;
    margin-top: 1rem;

}
.InboxConversationMessages {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
}
.InboxConversationMessage {
    display: flex;
    align-items: center;
    justify-content: right;
    
    margin-bottom: .5rem;
}
.InboxMessageContainer {
    margin: 0;
    margin-right: 2rem;
    background-color: #6259b9;
    padding: .5rem;
    border-radius: 1rem;
    max-width: 50%;
    flex-wrap: wrap;
    word-wrap: break-word;
     
}
.InboxConversationMessageNotUser {
    display: flex;
    
    align-items: center;
    justify-content: left;
    margin-bottom: .5rem;
}
.InboxMessageContainerNotUser {
    margin: 0;
    background-color: #cfcfcf;
    padding: .5rem;
    border-radius: 1rem;
    max-width: 50%;
    flex-wrap: wrap;
    word-wrap: break-word;
    margin-left: 2rem;
    
}