.sub-text {
    font-family: 'Roboto';
    font-size:max(30px, 10px);
    color: #000000;
    margin-bottom: 0px;
}

.about-text-container{
    width: 100%;
    justify-content: center;
    text-align: center;
}

.title-text {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: max(60px, 10px);
    color: #000000;
    margin: 0;
}

.header-stack {
    display : flex;
    justify-content: space-between;
    align-items: center;
    gap : 2rem;
    margin-top: 2rem;
}

.nav-stack {
    width: 50rem;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.logo {
    font-size: 2rem;
    color: #000000ab;
    font-weight: 500;
    font-family: 'Signika Negative', sans-serif;
}

.logobox {
    display: flex;
    align-items: center;
    width: 100%;
}

.loginButton {
    background: #716ab4;
    border-radius: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    border: beige;
    outline: none;
}

.matchstick{
    display: flex;
    justify-self: center;
    align-self: center;
    margin: auto;
    width: 25%;
}

.landing-container {
    display : flex;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
    margin-top: 2rem;
    align-self: start;
    
}

.text-stack {
    flex-direction: column;
    gap: 0;
    justify-self: center;
    max-width: 60%;
}

.top-container {
    max-width: 1420px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    overflow: auto;
    height: 600px;
}



.about-section{
    background-color: #203354;
}

.about-container {
    margin:auto;
    background-color: #203354;
    height: 400px;
    max-width: 1420px;
    display: block;
}


.signup-entry {
    flex-direction: row;
    justify-self: center;
    justify-content: space-between;
    max-width: 80%;
    margin: auto;
}

.signup-stack {
    padding-top: 50px;
    flex-direction: column;
    justify-self: center;
    /* display: flex; */
    text-align: center;
}

.signText {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: max(30px, 20px);
    color: #FFFFFF;
}

.about-title-text {
    font-family: 'Roboto';
    font-weight: 800;
    font-size: max(5vw, 10px);
    color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 0;
}

.about-sub-text {
    font-family: 'Roboto';
    font-size:max(30px, 10px);
    max-width: 100%;
    color: #FFFFFF;
    margin-bottom: 0px;
}
