.logo {
    font-size: 4rem;
    color: #000000ab;
    font-weight: 500;
    margin-left: 2rem;
    font-family: 'PT Serif';
}
.logobox {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
}
.subtext {
    padding: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #000000;
}

.leadingtext {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    color: #000000;
}
.navHome {
    display : flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    gap : 2rem;
    padding: 0 1rem;
    margin-top: 2rem;
    
}
.LandingStack {
    align-items: stretch;
    width: 30rem;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.loginButton {
    background: #716ab4;
    border-radius: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    border: beige;
    outline: none;
}
.firestick{
    height: 30rem;
}
.TextStack {
    display : flex;
    justify-content:center;
    align-items: center;
    gap : 2rem;
    width: 70%;
    margin-top: 2rem;
    margin-left: 4rem;
}
