@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.markdown h1 {
  @apply text-2xl font-bold mb-4;
}

.markdown h2 {
  @apply text-xl font-semibold mb-3;
}

.markdown h3 {
  @apply text-lg font-medium mb-2;
}

.markdown p {
  @apply mb-4;
}

.markdown th, .markdown td {
  @apply border border-gray-200 p-2;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.swiper-pagination-bullets {
  bottom: initial!important;
  top: 25px!important;
}
.swiper-pagination-bullet {
  width: 15px!important;
  height: 15px!important;
  margin: 0 5px!important;
}
.swiper-pagination-bullet-active {
  background: #fff!important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
